<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Calculator</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <h1>airpim dev-challenge</h1>
        <input type="text" id="expression" placeholder="Expression...">
        <button onclick="calculate()">CALCOLA</button>
        <div id="result"></div>
        <div id="history"></div>
    </div>
    <script src="static/script.js"></script>
</body>
</html>
